<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button class="btn btn-warning">click me!!</button>
<div class="row">
    {{#each _ar}}
    <div class="col-sm-6 card">
        <a href="/{{@index}}">
            <img class="float-left" src="{{image}}" style="margin-right: 10px;">
            <h2>{{name}}</h2>
        </a>

        {{#if worth}}

        <p>worth:{{worth}}</p>
        {{else}}
        <del>worth:not</del>
        {{/if}}
    </div>
    {{/each}}
</div>