<h1 class="row justify-content-center">
    Info about:{{person.name}}
</h1>
<div class="row justify-content-center">
    <div class="col-sm-6 card">
        <div>
            <div>Worth:{{person.worth}}</div>
            <div>country:{{person.country}}</div>
            <div>source:{{person.source}}</div>
            <div>birth year:{{person.birth_year}}</div>
            <img src="{{person.image}}" class="im-tumbnail">
        </div>
         <a href="/">back to home page</a>

    </div>

</div>